@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "@fontsource/inter/variable.css"; */

::-webkit-scrollbar {
  width: 0.5em;
  
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}


